{% extends "base_generic.html" %}

{% block content %}
<table id="myTable" class="table text-justify table-striped">
<tbody>
    <thead class="tableh1">
        <th class="col-1">Contact information</th>
        <th class="col-1"></th>
    </thead>
    <tbody id="tableBody"></tbody>
    {% if contact.image %}{% load static %}
    <tr><td><img src="{{static}}{{contact.image }}" alt="{{ contact }}" width="200"></td></tr>
    {% endif %}
    <tr><td>First name</td><td>{{ contact.fname }}</td></tr>
    <tr><td>Last name</td><td>{{ contact.lname }}</td></tr>
    <tr><td>Phone</td><td>{{ contact.phone }}</td></tr>
    {% if contact.city %}<tr><td>City</td><td>{{ contact.city }}</td></tr> {% endif %}
    {% if contact.address %}<tr><td>Address</td><td>{{ contact.address }}</td></tr> {% endif %}
    {% if contact.contactUrl%}<tr><td>Web page</td><td> 
        <a href = "{{ contact.contactUrl }}" >{{ contact.contactUrl }}</a></td></tr> {% endif %}
    <tr><td>
        <a href="{% url 'contact_update' contact.id %}" class="btn btn-info w-100 btn1">Edit</a>   
    </td><td>
        <form action="{% url 'contact_delete' contact.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-info w-100 btn1" />
        </form>
    </td></tr>
</tbody>
</table>
{% endblock %}