{% extends "base_generic.html" %}

{% block content %}

<table id="myTable" class="table text-justify table-striped">
            
  <thead class="tableh1">
  <th class="col-1">First name</th>
  <th class="col-1">Last name</th>
  <th class="col-1">Phone</th>
  <th class="col-1"></th>
  </thead>
  <tbody id="tableBody">
{% if contact_list %}

{% for contact in contact_list %}
<tr>
  <td >{{contact.fname}}</td>
  <td>{{contact.lname}}</td>
  <td>{{contact.phone}}</td>
  <td><a href="{{ contact.get_absolute_url }}" class="btn btn-info w-80 btn1">Details</a></td>
</tr>  
{% endfor %}

{% else %}
<tr>
  <td>Thre is no contact in the phone book</td>
  <td></td>
  <td></td>
  <td></td>
</tr> 
{% endif %}
</tbody>
</table>
{% endblock %}


  
  
  
  
 